<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		/>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
		></script>
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<form
							action="/AdminPanel"
							method="POST"
							onsubmit="event.preventDefault()"
							class="box"
						>
							<h1>Lua collection</h1>
							<p class="text-muted"> نام کاربری و رمز عبور را وارد کنید</p>
							<input type="text" name="username" placeholder="نام کاربری" />
							<input type="password" name="password" placeholder="رمز عبور" />

							<input type="submit" name="" value="ورود" href="#" />

						</form>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>