<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
		></script>
		<title>Document</title>
	</head>
	<body>
		<div class="loginBox">
			<img
				class="user"
				src="https://i.ibb.co/yVGxFPR/2.png"
				height="100px"
				width="100px"
			/>
			<h3>lua collection</h3>

			<form action="/AdminPanel" method="post">
				<div class="inputBox">
					<input
						id="uname"
						type="text"
						name="username"
						placeholder="نام کاربری"
					/>
					<input id="uname" type="text" name="email" placeholder="ایمیل" />
					<input
						id="pass"
						type="password"
						name="password"
						placeholder="رمز عبور"
					/>
				</div>
				<input type="submit" name="" value="ورود" />
			</form>

			<div class="text-center">
				<form action="/AdminPanel/signup" method="get">
					<input type="submit" value="ثبت نام ادمین" />
				</form>
			</div>

		</div>

	</body>
</html>